# 무시하고 싶은 폴더, 파일을 여기에 작성하면 git이 무시합니다.
# gitignore 파일은 공유하고 싶은 프로젝트에 최상위 디렉토리에 위치해야합니다.

# 파일명은 걍 파일명

# 디렉터리는 / 를 뒤에 적습니다.
# .venv 파일은 무시하고 공유하지 않습니다.
.venv/

# *이 모든 문자를 의미하는 와일드카드로 기능합니다.
# 파일 경로를 따라 /__pycache__/ 는 공유하지 않습니다.
*/__pycache__/

# txt 확장자를 가진 모든 파일을 무시할거야
*.txt

# ! 를 파일명 또는 디렉토리명 앞에 써주시면 앞의 규칙에서 제외라는 뜻입니다.
!requirements.txt